@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0; padding: 0; box-sizing: border-box;
      font-family: "Poppins", sans-serif;
}

.body {
    background: linear-gradient(90deg,rgba(5, 5, 59, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(5, 5, 59, 1) 100%);
    color: rgb(0, 0, 0);
    min-height: 100dvh;
    
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

form {
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.686);
    width: min(90%, 500px);
    margin: 0 auto;

    display: flex;
    gap: 0.5rem;
    flex-direction: column;

    padding: 1rem;
    border-radius: 24px;
    margin-bottom: 5px;
}

form h1 {
    font-size: clamp(1.5rem, 2vw, 2rem);
    text-align: center;
    cursor: default;
}

form p {
    text-align: center;
}

form ::placeholder{
    font-size: 1rem;
    color: #282828;
}

form input {
    padding: 0.7rem;
    border-radius: 24px;
    outline: none;
    border: 1px solid #919191;
    font-size: 1rem;
    margin: 10px 0;
    color: #000000;
}

form input:focus,
form input:hover{
    border: 1px solid #282828;
}

form button {
    padding: 0.7rem;
    border-radius: 24px;
    font-size: 1rem;
    border: none;
    background-color: rgb(41, 41, 255);
    color: white;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

form button:hover{
    opacity: 0.8;
    transform: translateY(-3px);
}

.p-nenhum {
    color: white;
    text-align: center;
}






.usuarios-cadastrados{
    width: 100%;
}